html, body {
    min-height: 100vh;
    width: 100%;
    background-color: #1f2322;
}

.new-game-icon {
    width: 50vh;
}

.row {
    --bs-gutter-x: 0;
}




/*----------------- Main font styles---------*/


#homepage-logo {
    background-color: #1f2322;
    margin-top: 1vh;
    color: white;
}

h1 {
    font-family: "Righteous", sans-serif;
}

/*---------------- Button Styling ------------*/     /* Button hover animation adapted from https://codepen.io/RazorXio/pen/gMaoOW */

.btn-primary {
    background-color:rgb(42, 48, 54);
}

.button_slide {
    color: #FFF;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #070707;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  
  
  .slide_right:hover {
    box-shadow: inset 500px 0 0 0 #1e1168;
  }











/*------------------ Game page styles ------------------*/

.game-info {
    font-family: "Montserrat", sans-serif ;
    grid-column: 1 / -1;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}



html {
    min-height: 100vh;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    z-index: 100;
    color:blue;
    mix-blend-mode: difference;
    
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0,);
        font-size: 0;
    }
    to {
        font-size: 10em;
    }
}

/*----------------- Card Styles -------------------------*/

.card {
    background-color: rgb(102, 99, 99);
    height: 200px;
    width: 150px;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 12px;
    ; 
}

.card.visible .card-back {
    transform: rotatey(-180deg);
}

.card.visible .card-front {
    transform: rotatey(0);
}

.card.matched .card-value {                          /*flashes card green on a match and needs to play corresponding audio*/

}

.card.unmatched .card-value {                          /*flashes card red on a incorrect match and needs to play corresponding audio*/
                                         

}

.card-area {                                            /*grid structure designed using css from Sandra Israel-Ovirih https://scotch.io/tutorials/how-to-build-a-memory-matching-game-in-javascript */
    
    width: 85%;
    background: #1d1b1d;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgb(46 61 73 / 50%);
    display: grid;
    grid-template-columns: repeat(4, auto );
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    perspective: 500px;
    
}

.card-face {                                          /* card faces and animations developed using web dev simplified tutorial https://www.youtube.com/watch?v=28VfzEiJgy4&t=1945s&ab_channel=WebDevSimplified */ 
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    transition: transform 500ms ease-in-out
}

.card-front {
    transform: rotatey(180deg);
    background-color: #bdbfc7fb;
    border-color:black;
}

.keyboard {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 1s ease-in-out 0s;
    height: 100%; 
    width: 100%; 
    object-fit: contain

    
}

.card-back:hover .keyboard {
    transform: scale(0.7);

}

.card-value {
    height: 100%; 
    width: 100%; 
    object-fit: contain
}